<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Private Lessons</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="CSS/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="JavaScript/index.js"></script>
</head>
<body>
    <section id="sessionID" class="Form my-4 mx-5">
        <div class="container">
            <div class="row no-gutters">
                <div  class="col-lg-5">
                    <img src="img/index.png" class="img-fluid" alt="">
                    <p class="font-weight-bold py-3">{{ session }}</p>
                    <span @click="logout" v-if="student"><button type="button" class="btn btn-primary">Logout</button></span>
                </div>
                <div class="col-lg-7 px-5 pt-5">
                    <h1 class="font-weight-bold py-3">Online Private Lessons</h1>
                    <form method="post">
                        <div class="form-row">
                            <div class="col-lg-7">
                                <span v-if="guest"><a href="login.html"><button type="button" class="btn btn-primary">Login</button></a></span>
                            </div>
                        </div>
                        <h4></h4>
                        <div class="form-row">
                            <div class="col-lg-7">
                                <span v-if="guest"><a href="registration.html"><button type="button" class="btn btn-primary">Registration</button></a></span>
                            </div>
                        </div>
                        <h4></h4>
                        <div class="form-row">
                            <div class="col-lg-7">
                                <span v-if="guest || student || admin"><button type="button" class="btn btn-primary">Tutoring available</button></span>
                            </div>
                        </div>
                        <h4></h4>
                        <div class="form-row">
                            <div class="col-lg-7">
                                <span v-if="student || admin"><button type="button" class="btn btn-primary">Tutoring booking</button></span>
                            </div>
                        </div>
                        <h4></h4>
                        <div class="form-row">
                            <div class="col-lg-7">
                                <span v-if="student"><button type="button" class="btn btn-primary">Confirmation occurred tutoring</button></span>
                            </div>
                        </div>
                        <h4></h4>
                        <div class="form-row">
                            <div class="col-lg-7">
                                <span v-if="student || admin"><button type="button" class="btn btn-primary">History booking</button></span>
                            </div>
                        </div>
                        <h4></h4>
                        <div class="form-row">
                            <div class="col-lg-7">
                                <span v-if="admin"><button type="button" class="btn btn-primary">All History booking</button></span>
                            </div>
                        </div>
                        <h4></h4>
                        <div class="form-row">
                            <div class="col-lg-7">
                                <span v-if="admin"><button type="button" class="btn btn-primary">Teacher actions</button></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>